.test
  .main1.mySlides.fade
    .main_border
      .row.justify-content-start
        .main1-content
          h2.main-title.border1-top  BEAUTY
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  
  
  
  
  .main2.mySlides.fade
    .main_border
      .row.justify-content-end
        .main2-content
          h2.main-title.border2-top POTRAIT
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
          
  
  
  .main3.mySlides.fade
    .main_border
      .row.justify-content-start
        .main3-content
          h2.main-title.border1-top  FASHION
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  
  
  
  .main4.mySlides.fade
    .main_border
      .row.justify-content-end
        .main4-content
          h2.main-title.border4-top MEETINGS
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  
  
  
  .main5.mySlides.fade
    .main_border
      .row.justify-content-start
        .main5-content
          h2.main-title.border1-top PEOPLE
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  
  
  
  .main6.mySlides.fade
    .main_border
      .row.justify-content-end
        .main6-content
          h2.main-title.border6-top PRODUCT
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  
  
  
  
  .main8.mySlides.fade
    .main_border
      .row.justify-content-end
        .main8-content
          h2.main-title.border8-top NATURE
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  
  
  
  
  .main9.mySlides.fade
    .main_border
      .row.justify-content-start
        .main9-content
          h2.main-title.border1-top BIRTHDAYS
          p.main-desc
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper
            | ornare odio ultrices elementum ut.
          button.main_button Take a look &rarr;
  