footer.mySlides.fade.footer.container
  a.back_link(href='')
      span &#5169;
      strong Back to top
  .row
    .footer-block
      h2.footer-block__title 25
      p.footer-block__desc
        | Years experience of
        | freelance photography
    .footer-block.right_border_left
      h2.footer-block__title 49
      p.footer-block__desc
        | Projects worked on
        | and counting
    .footer-block
      h2.footer-block__title 36
      p.footer-block__desc
        | Stable client currently
        | trust us and are booked
  .footer-content__button
    a.button(href='') Book now
