header.mySlides.fade.header
    .h-100.flex-column.d-flex.container
        nav.header-nav.row
            a(href='')
                img(src='images/nav_logo.webp', alt='')
            ul.header-nav__ul
                li
                    a.active_link(href='') Home
                li
                    a.header-nav__link(href='book-now.html') Book
                li
                    a.header-nav__link(href='contact.html') Contact
                li
                    a.header-nav__link(href='about.html') About
        .header-content.row
            .header-content__icons
                a(href='')
                    img(src='images/be-logo.webp', alt='')
                a(href='')
                    img(src='images/fb-logo.webp', alt='')
                a(href='')
                    img(src='images/inst-logo.webp', alt='')
            .header-content__desc
                p We take photos as a return ticket to a  moment     otherwise gone
            .header-content__button
                a.button(href='book-now.html') Book now
        a.view_link(href='')
            strong View more
            span &#x2C5;

